In [ ]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
        border-style: solid;
    }
</style>

In [1]:
%matplotlib inline 
import pandas as pd

In [2]:
import os
os.chdir('C://Users//2918261//Dropbox//Corner Office Interviews//ComparisonCorpusQuestions_Text')
os.getcwd()
## C://Users//2918261//Courses//Oslo Summer School//notebooks//Interviews//Text

'C:\\Users\\2918261\\Dropbox\\Corner Office Interviews\\ComparisonCorpusQuestions_Text'

In [3]:
pd.set_option('display.max_colwidth', 120)

## Controlling the table one last time

In [4]:
table = pd.read_excel('C:/Users/2918261/Dropbox/Corner Office Interviews/ComparisonCorpus_LIWC_Datasets/All_Frames_Full.xlsx')

In [6]:
list(table.columns)

['Name',
 'Source',
 'Agentic',
 'AllPunc',
 'Analytic',
 'Apostro',
 'Authentic',
 'Clout',
 'Colon',
 'Comma',
 'Communal',
 'Current Age',
 'Dash',
 'Date',
 'Dic',
 'Exclam',
 'Female',
 'Filename',
 'Gender',
 'Interview',
 'MBA',
 'NativeSpeaker',
 'Organization',
 'OtherP',
 'Parenth',
 'Period',
 'QMark',
 'Quote',
 'Sector_Grouped',
 'Sector_Grouped_Dic',
 'SemiC',
 'Sixltr',
 'Tone',
 'Traded',
 'WC',
 'WPS',
 'achieve',
 'adj',
 'adverb',
 'affect',
 'affiliation',
 'anger',
 'anx',
 'article',
 'assent',
 'auxverb',
 'bio',
 'body',
 'cause',
 'certain',
 'cogproc',
 'compare',
 'conj',
 'death',
 'differ',
 'discrep',
 'drives',
 'family',
 'feel',
 'female',
 'filler',
 'focusfuture',
 'focuspast',
 'focuspresent',
 'friend',
 'function',
 'health',
 'hear',
 'home',
 'i',
 'informal',
 'ingest',
 'insight',
 'interrog',
 'ipron',
 'leisure',
 'male',
 'money',
 'motion',
 'negate',
 'negemo',
 'netspeak',
 'nonflu',
 'number',
 'percept',
 'posemo',
 'power',
 'ppron',
 'prep',
 'pronoun',
 'quant',
 'relativ',
 'relig',
 'reward',
 'risk',
 'sad',
 'see',
 'sexual',
 'shehe',
 'social',
 'space',
 'swear',
 'tentat',
 'they',
 'time',
 'verb',
 'we',
 'work',
 'you']

In [38]:
table[['Name', 'Filename', 'Source', 'Interview']][:10]

           Name      Filename Source  Interview
0     AaronBell     AaronBell    NYT          1
1    AaronLevie    AaronLevie    NYT          1
2     AbbeRaven     AbbeRaven    NYT          1
3    AbeAnkumah    AbeAnkumah    NYT          1
4      AdamNash      AdamNash    NYT          1
5    AdiTatarko    AdiTatarko    NYT          1
6     AileenLee     AileenLee    NYT          1
7  AlanDabbiere  AlanDabbiere    NYT          1
8  AlanRMulally  AlanRMulally    NYT          1
9   AlanTrefler   AlanTrefler    NYT          1

In [43]:
table['Interview'].value_counts()

1    850
0    232
Name: Interview, dtype: int64

## Making a list of combined files in the directory

# NYT

In [4]:
from os import listdir 
from os.path import isfile, join

In [5]:
onlyfiles_NYT = [f for f in listdir('C:/Users/2918261/Dropbox/Corner Office Interviews//CornerOfficeQuestions_Text')if isfile(join('C:/Users/2918261/Dropbox/Corner Office Interviews/CornerOfficeQuestions_Text', f))]

In [6]:
onlyfiles_NYT

['AaronBell.txt',
 'AaronLevie.txt',
 'AbbeRaven.txt',
 'AbeAnkumah.txt',
 'AdamNash.txt',
 'AdenaFriedman.txt',
 'AdiTatarko.txt',
 'AileenLee.txt',
 'AlanDabbiere.txt',
 'AlanRMulally.txt',
 'AlanTrefler.txt',
 'AlastairMitchell.txt',
 'AlexandraWilkis.txt',
 'AlexavonTobel.txt',
 'AlexisOhanian.txt',
 'AmberGuild.txt',
 'AmitSingh.txt',
 'AmyAstley.txt',
 'AmyErrett.txt',
 'AmyGutmann.txt',
 'AmyPressman.txt',
 'AmySchulman.txt',
 'AndreDurand.txt',
 'AndrewCosslett.txt',
 'AndrewFilev.txt',
 'AndrewMThompson.txt',
 'AndyBryant.txt',
 'AndyLansing.txt',
 'AndyMills.txt',
 'AngieHicks.txt',
 'AngusDavis.txt',
 'AnnCairns.txt',
 'AnneBerkowitch.txt',
 'AnneMulcahy.txt',
 'AnnetteCatino.txt',
 'AnneWilliamsIsom.txt',
 'AnthonyFoxx.txt',
 'AreTraasdahl.txt',
 'ArkadiKuhlmann.txt',
 'AronAin.txt',
 'AshokSubramanian.txt',
 'AshtonBCarter.txt',
 'AustinMcChord.txt',
 'AutumnManning.txt',
 'AvinoamNowogrodski.txt',
 'BarbaraCorcoran.txt',
 'BarbaraDeBuono.txt',
 'BarbaraJKrumsiek.txt',
 'BarneyHarford.txt',
 'BarrySalzberg.txt',
 'BenChestnut.txt',
 'BenLerer.txt',
 'BernardoHees.txt',
 'BernardSchwartz.txt',
 'BernardTyson.txt',
 'BethComstock.txt',
 'BillCarter.txt',
 'BillFlemming.txt',
 'BillKling.txt',
 'BillMcDermott.txt',
 'BingGordon.txt',
 'BlakeIrving.txt',
 'BobbiBrown.txt',
 'BobBrennan.txt',
 'BobFarrell.txt',
 'BobMoritz.txt',
 'BobPittman.txt',
 'BrackenDarrell.txt',
 'BradGarlinghouse.txt',
 'BradJefferson.txt',
 'BradSmith.txt',
 'BrentFrei.txt',
 'BrentSaunders.txt',
 'BrettWilson.txt',
 'BrianChesky.txt',
 'BrianDunn.txt',
 'BrianHalligan.txt',
 'BrianOKelley.txt',
 'BrookeDenihanBarrett.txt',
 'BryanRoberts.txt',
 'ByronLewisSr.txt',
 'CareySmith.txt',
 'CarlaCooper.txt',
 'CarlBass.txt',
 'CarlGalioto.txt',
 'CarmelynPMalalis.txt',
 'CarolBartz.txt',
 'CarolSmith.txt',
 'CarterMurray.txt',
 'CarylMStern.txt',
 'CatherineWinder.txt',
 'CathleenPBlack.txt',
 'CathyChoi.txt',
 'CedricBru.txt',
 'CesarMelgoza.txt',
 'ChamathPalihapitiya.txt',
 'CharlotteBeers.txt',
 'ChaunceyCMayfield.txt',
 'ChipBergh.txt',
 'ChrisBarbin.txt',
 'ChrisCunningham.txt',
 'ChrisPaul.txt',
 'ChristaQuarles.txt',
 'ChristineFruechte.txt',
 'ChristopherCabrera.txt',
 'ChristopherJNassetta.txt',
 'ChristopherJWilliams.txt',
 'ChristyWyatt.txt',
 'CindiLeive.txt',
 'CindyHolland.txt',
 'CindyWhitehead.txt',
 'ClaraLippertGlenn.txt',
 'ClarenceOtisJr.txt',
 'CoreyEThomas.txt',
 'CristobalConde.txt',
 'DaneAtkinson.txt',
 'DanielleMossLee.txt',
 'DanielLubetzky.txt',
 'DanielPAmos.txt',
 'DanielSGlaser.txt',
 'DanielSSchwartz.txt',
 'DanielTHendrix.txt',
 'DanRosensweig.txt',
 'DanRuch.txt',
 'DanSchneider.txt',
 'DanSchulman.txt',
 'DanyLevy.txt',
 'DaraRichardson.txt',
 'DavidBarger.txt',
 'DavidCancel.txt',
 'DavidCNovak.txt',
 'DavidCote.txt',
 'DavidKenny.txt',
 'DavidOssip.txt',
 'DavidPolitis.txt',
 'DavidReimer.txt',
 'DavidRock.txt',
 'DavidRosenblatt.txt',
 'DavidSacks.txt',
 'DavidSteinberg.txt',
 'DawnLepore.txt',
 'DawnZier.txt',
 'DeborahBial.txt',
 'DeborahDunsire.txt',
 'DeborahFarrington.txt',
 'DeborahHarmon.txt',
 'DeborahLeeJames.txt',
 'DebraLLee.txt',
 'DeirdreQuinn.txt',
 'DennisCrowley.txt',
 'DerylMcKissack.txt',
 'DianevonFurstenberg.txt',
 'DineshCPaliwal.txt',
 'DionWeisler.txt',
 'DolfVanDenBrink.txt',
 'DominicOrr.txt',
 'DonCharlton.txt',
 'DonKnauss.txt',
 'DonMal.txt',
 'DoreenLorenzo.txt',
 'DottieMattison.txt',
 'DouglasMerrill.txt',
 'DrewGilpinFaust.txt',
 'DrewHouston.txt',
 'DrLaurieGlimcher.txt',
 'DwightMerriman.txt',
 'EduardoCastroWright.txt',
 'EileenFisher.txt',
 'EileenMartinson.txt',
 'ElisaSteele.txt',
 'EnriqueSalem.txt',
 'ErikaNardini.txt',
 'FMarkGumz.txt',
 'FrancescaZambello.txt',
 'FranciscoDSouza.txt',
 'FredHassan.txt',
 'FreemanAHrabowskiIII.txt',
 'GaryEMcCullough.txt',
 'GarySmith.txt',
 'GeoffreyCanada.txt',
 'GeoffVuleta.txt',
 'GeorgeHu.txt',
 'GeorgeSBarrett.txt',
 'GinaCentrello.txt',
 'GirishNavani.txt',
 'GJHart.txt',
 'GlennKelman.txt',
 'GordonMBethune.txt',
 'GregBrenneman.txt',
 'GreggRenfrew.txt',
 'GregoryBMaffei.txt',
 'GregSchott.txt',
 'GuyKawasaki.txt',
 'HadiPartovi.txt',
 'HamdiUlukaya.txt',
 'HamidHashemi.txt',
 'HannahParamore.txt',
 'HarryHerington.txt',
 'HarryWest.txt',
 'HeleneGayle.txt',
 'HollyBranson.txt',
 'HowardSchultz.txt',
 'HughMartin.txt',
 'IleneGordon.txt',
 'IrwinDSimon.txt',
 'IvarKroghrud.txt',
 'JackDangermond.txt',
 'JacquelineKosecoff.txt',
 'JacquelineNovogratz.txt',
 'JakeWobbrock.txt',
 'JamesDyson.txt',
 'JamesERogers.txt',
 'JamesJSchiro.txt',
 'JamesPHackett.txt',
 'JanaEggers.txt',
 'JanePark.txt',
 'JaneRosenthal.txt',
 'JanetElkin.txt',
 'JanSinger.txt',
 'JarrodMoses.txt',
 'JasonFried.txt',
 'JayWalker.txt',
 'JedYueh.txt',
 'JeffFluhr.txt',
 'JeffGoodby.txt',
 'JeffLawson.txt',
 'JeffRaider.txt',
 'JeffreyGKatz.txt',
 'JeffreyKatzenberg.txt',
 'JeffreySwartz.txt',
 'JeffWeiner.txt',
 'JenGuzman.txt',
 'JenHsunHuang.txt',
 'JennaFagnan.txt',
 'JenniferDulski.txt',
 'JennyMing.txt',
 'JeremyAllaire.txt',
 'JeremyZimmer.txt',
 'JessicaHerrin.txt',
 'JessieWoolleyWilson.txt',
 'JessLee.txt',
 'JillyStephens.txt',
 'JimDolce.txt',
 'JimmyDunne.txt',
 'JimWhitehurst.txt',
 'JoanneRohde.txt',
 'JodiGoldstein.txt',
 'JodyGerson.txt',
 'JodyGreenstoneMiller.txt',
 'JoeAndrew.txt',
 'JoelBabbit.txt',
 'JoelPeterson.txt',
 'JoelSMarcus.txt',
 'JohnDonahoe.txt',
 'JohnDonovan.txt',
 'JohnDuffy.txt',
 'JohnLilly.txt',
 'JohnNottingham.txt',
 'JohnRiccitiello.txt',
 'JohnSpirk.txt',
 'JohnTChambers.txt',
 'JohnWRogersJr.txt',
 'JohnWRowe.txt',
 'JohnZimmer.txt',
 'JonathanKlein.txt',
 'JonathanMTisch.txt',
 'JonBischke.txt',
 'JonOringer.txt',
 'JosephJimenez.txt',
 'JosephJPlumeri.txt',
 'JoshuaReeves.txt',
 'JoyceBrown.txt',
 'JudithJamison.txt',
 'JuliaHartz.txt',
 'JulieGreenwald.txt',
 'JulieMyersWood.txt',
 'JulieSweet.txt',
 'JWMarriott.txt',
 'KamakshiSivaramakrishnan.txt',
 'KarenAbramson.txt',
 'KarenMay.txt',
 'KarlHeiselman.txt',
 'KasperRorsted.txt',
 'KatCole.txt',
 'KatherineHays.txt',
 'KatherinePower.txt',
 'KathleenFinch.txt',
 'KathleenLFlanagan.txt',
 'KathyButtonBell.txt',
 'KathyGiusti.txt',
 'KathySavitt.txt',
 'KatiaBeauchamp.txt',
 'KatrinaLake.txt',
 'KenFrazier.txt',
 'KenLombard.txt',
 'KennethFeld.txt',
 'KennethZiegler.txt',
 'KennyChesney.txt',
 'KenRees.txt',
 'KerryCooper.txt',
 'KevinELofton.txt',
 'KevinLiles.txt',
 'KevinOConnor.txt',
 'KevinSharer.txt',
 'KevinTracey.txt',
 'KevinWarren.txt',
 'KimBowers.txt',
 'KimReed.txt',
 'KipTindell.txt',
 'KonLeong.txt',
 'KrisDuggan.txt',
 'KristinMuhlner.txt',
 'KyleZimmer.txt',
 'LarsAlbright.txt',
 'LarsBjork.txt',
 'LarsDalgaard.txt',
 'LaszloBock.txt',
 'LauraChing.txt',
 'LauraYecies.txt',
 'LaurelJRichie.txt',
 'LaurieSchultz.txt',
 'LawrenceWKellner.txt',
 'LeilaJanah.txt',
 'LesaFranceKennedy.txt',
 'LewCirne.txt',
 'LilyKanter.txt',
 'LindaHeasley.txt',
 'LindaHudson.txt',
 'LindaLausellBryant.txt',
 'LindaZecher.txt',
 'LindseyUeberroth.txt',
 'LisaBorders.txt',
 'LisaFalzone.txt',
 'LisaGersh.txt',
 'LisaPrice.txt',
 'LisaSu.txt',
 'LizElting.txt',
 'LizPearce.txt',
 'LizRodbell.txt',
 'LloydCarney.txt',
 'LloydCBlankfein.txt',
 'LoganLaHive.txt',
 'LoisBraverman.txt',
 'LonneJaffe.txt',
 'LoriDickersonFouche.txt',
 'LoriSenecal.txt',
 'LornaBorenstein.txt',
 'LtGenNadjaWest.txt',
 'LucLevesque.txt',
 'LynnBlodgett.txt',
 'LynnGood.txt',
 'MahishaDellinger.txt',
 'MaigreadEichten.txt',
 'MarcBenioff.txt',
 'MarcCenedella.txt',
 'MarcusRyu.txt',
 'MargaretKeane.txt',
 'MariaContrerasSweet.txt',
 'MariaKMitchell.txt',
 'MarioBatali.txt',
 'MarissaMayer.txt',
 'MarjorieKaplan.txt',
 'MarkBertolini.txt',
 'MarkBTempleton.txt',
 'MarkFuller.txt',
 'MarkHoplamazian.txt',
 'MarkJosephson.txt',
 'MarkNathan.txt',
 'MarkPincus.txt',
 'MarkToro.txt',
 'MarlaMalcolmBeck.txt',
 'MarthaSSamuelson.txt',
 'MaryLaschinger.txt',
 'MatthewPrince.txt',
 'MaxLevchin.txt',
 'MaynardWebb.txt',
 'MelanieWhelan.txt',
 'MerideeAMoore.txt',
 'MichaelEvans.txt',
 'MichaelGould.txt',
 'MichaelGregoire.txt',
 'MichaelJDowling.txt',
 'MichaelLebowitz.txt',
 'MichaelMathieu.txt',
 'MichaelPassaro.txt',
 'MichelFeaster.txt',
 'MichelleMunson.txt',
 'MichellePeluso.txt',
 'MikeEttling.txt',
 'MikeMcCue.txt',
 'MikeONeill.txt',
 'MikeSheehan.txt',
 'MikeTuchen.txt',
 'MindyGrossman.txt',
 'MitchRothschild.txt',
 'NancyAossey.txt',
 'NancyDubuc.txt',
 'NancyLZimpher.txt',
 'NancyMcKinstry.txt',
 'NarinderSingh.txt',
 'NatarajanChandrasekaran.txt',
 'NavinNagiah.txt',
 'NeilBlumenthal.txt',
 'NellMinow.txt',
 'NikiLeondakis.txt',
 'NirajShah.txt',
 'NoreenBeaman.txt',
 'OmarHamoui.txt',
 'OriHadomi.txt',
 'PamelaFields.txt',
 'PattyStonesifer.txt',
 'PaulaKerger.txt',
 'PaulaLong.txt',
 'PaulaSchneider.txt',
 'PaulEnglish.txt',
 'PaulettEberhart.txt',
 'PaulMaritz.txt',
 'PaulVenables.txt',
 'PedroBaranda.txt',
 'PedroPizarro.txt',
 'PennyHerscher.txt',
 'PennyPritzker.txt',
 'PerryEvans.txt',
 'PeterLoscher.txt',
 'PeterMiller.txt',
 'PhilFernandez.txt',
 'PhilLibin.txt',
 'PhilMartens.txt',
 'QuintinEPrimo.txt',
 'RachelAshwell.txt',
 'RagyThomas.txt',
 'RakeshKapoor.txt',
 'RamonNunez.txt',
 'RDonahuePeebles.txt',
 'RebeccaLynn.txt',
 'RichardAnderson.txt',
 'RichardBranson.txt',
 'RichardDFain.txt',
 'RichardRBueryJr.txt',
 'RichelieuDennis.txt',
 'RickLevin.txt',
 'RobertAEckert.txt',
 'RobertIger.txt',
 'RobertJMurray.txt',
 'RobertLJohnson.txt',
 'RobertLoCascio.txt',
 'RobertReid.txt',
 'RobertWSelander.txt',
 'RobGough.txt',
 'RobinDomeniconi.txt',
 'RobinRichards.txt',
 'RogerFerguson.txt',
 'RomanStanek.txt',
 'RomilBahl.txt',
 'RonaldMShaich.txt',
 'RonKaplan.txt',
 'RussellGoldsmith.txt',
 'RuthJSimmons.txt',
 'RuthRathblott.txt',
 'RyanCarson.txt',
 'RyanSmith.txt',
 'SabineHeller.txt',
 'SabrinaParsons.txt',
 'SallySmith.txt',
 'SandraLKurtzig.txt',
 'SarahBarnett.txt',
 'SarahThompson.txt',
 'SatyaNadella.txt',
 'SaundraPelletier.txt',
 'SDShibulal.txt',
 'SelinaLo.txt',
 'SethBesmertnik.txt',
 'SethMerrin.txt',
 'ShafqatIslam.txt',
 'ShantanuNarayen.txt',
 'ShantiAtkins.txt',
 'SharonDaniels.txt',
 'SharonNapier.txt',
 'SharonSloane.txt',
 'ShawnHWilson.txt',
 'ShawnJenkins.txt',
 'SheilaLirioMarcelo.txt',
 'SheilaTalton.txt',
 'ShellyeArchambeau.txt',
 'SherylPalmer.txt',
 'ShirleyAnnJackson.txt',
 'ShivanSSubramaniam.txt',
 'SimonAnderson.txt',
 'SoledadOBrien.txt',
 'SpencerRascoff.txt',
 'StaceyAllaster.txt',
 'StacyBrownPhilpot.txt',
 'StephenISadove.txt',
 'StephenJImmelt.txt',
 'SteveCase.txt',
 'SteveHannah.txt',
 'StevenABallmer.txt',
 'StevenMollenkopf.txt',
 'SteveStoute.txt',
 'StewartButterfield.txt',
 'SueDesmondHellmann.txt',
 'SukhinderSinghCassidy.txt',
 'SundarPichai.txt',
 'SunnyGupta.txt',
 'SusanCredle.txt',
 'SusanDocherty.txt',
 'SusanLyne.txt',
 'SusanSalka.txt',
 'SusanStory.txt',
 'TachiYamada.txt',
 'TaeHeaNahm.txt',
 'TeresaATaylor.txt',
 'TerriLudwig.txt',
 'TerryJLundgren.txt',
 'TerryLeahy.txt',
 'TerryTietzen.txt',
 'TienTzuo.txt',
 'TiffanyCooperGueye.txt',
 'TigerTyagarajan.txt',
 'TimBrown.txt',
 'TimBucher.txt',
 'TobiLutke.txt',
 'ToddRovak.txt',
 'TomErickson.txt',
 'TomLeighton.txt',
 'TonyHsieh.txt',
 'TonyTjan.txt',
 'TraceyMatura.txt',
 'TracyDolgin.txt',
 'TracyStreckenbach.txt',
 'TriciaClarkeStone.txt',
 'TristanWalker.txt',
 'ValDiFebo.txt',
 'ValerieSmith.txt',
 'VictorAllis.txt',
 'VictorHo.txt',
 'VictoriaRansom.txt',
 'VineetNayar.txt',
 'VivekGupta.txt',
 'VivianLee.txt',
 'WainKellum.txt',
 'WaltBettinger.txt',
 'WayneJackson.txt',
 'WendyKopp.txt',
 'WendyLea.txt',
 'WilliamDGreen.txt',
 'WillWright.txt',
 'YorgenEdholm.txt',
 'YuchunLee.txt']

In [7]:
NYT = pd.DataFrame(data = onlyfiles_NYT, columns = ['Executive'])

In [8]:
NYT.iloc[[5, 14, 52, 101, 125, 167, 189, 193, 194, 200, 210, 226, 273, 276, 292, 293, 353, 360, 362, 365, 378, 413, 434, 436, 491, 502, 531]]

                 Executive
5        AdenaFriedman.txt
14       AlexisOhanian.txt
52        BernardoHees.txt
101          ChrisPaul.txt
125        DanSchulman.txt
167       EileenFisher.txt
189       GreggRenfrew.txt
193        HadiPartovi.txt
194       HamdiUlukaya.txt
200       HollyBranson.txt
210         JamesDyson.txt
226         JeffRaider.txt
273         JuliaHartz.txt
276         JulieSweet.txt
292        KatrinaLake.txt
293         KenFrazier.txt
353        MarcBenioff.txt
360       MarissaMayer.txt
362      MarkBertolini.txt
365    MarkHoplamazian.txt
378       MichaelEvans.txt
413     PaulaSchneider.txt
434        RebeccaLynn.txt
436     RichardBranson.txt
491  StacyBrownPhilpot.txt
502       SundarPichai.txt
531      TristanWalker.txt

In [9]:
NYT = NYT.drop([5, 14, 52, 101, 125, 167, 189, 193, 194, 200, 210, 226, 273, 276, 292, 293, 353, 360, 362, 365, 378, 413, 434, 436, 491, 502, 531]).copy()

In [10]:
NYT['Executive'] = NYT['Executive'].str.replace(r'.txt', '')

In [11]:
NYT['Executive'] = NYT['Executive'].str.replace(' ', '').copy()

In [12]:
NYT.insert(loc=1, column='Interview', value = '1')

In [13]:
NYT.insert(loc=2, column='Outlet', value = 'NYT')

In [14]:
NYT

         Executive Interview Outlet
0        AaronBell         1    NYT
1       AaronLevie         1    NYT
2        AbbeRaven         1    NYT
3       AbeAnkumah         1    NYT
4         AdamNash         1    NYT
..             ...       ...    ...
544       WendyLea         1    NYT
545  WilliamDGreen         1    NYT
546     WillWright         1    NYT
547   YorgenEdholm         1    NYT
548      YuchunLee         1    NYT

[522 rows x 3 columns]

# AInterviews

In [15]:
onlyfiles_AInterviews = [f for f in listdir('C:/Users/2918261/Dropbox/Corner Office Interviews//ComparisonCorpusQuestions_Text/Interviews')if isfile(join('C:/Users/2918261/Dropbox/Corner Office Interviews/ComparisonCorpusQuestions_Text/Interviews', f))]

In [16]:
len(onlyfiles_AInterviews)

227

In [17]:
interviews = pd.DataFrame(data = onlyfiles_AInterviews, columns = ['Executive'])

In [18]:
interviews

             Executive
0        AbbeRaven.txt
1       AbeAnkumah.txt
2       AdiTatarko.txt
3     AlanRMulally.txt
4      AlanTrefler.txt
..                 ...
222   WayneJackson.txt
223       WendyLea.txt
224  WilliamDGreen.txt
225     WillWright.txt
226      YuchunLee.txt

[227 rows x 1 columns]

In [19]:
interviews['Executive'] = interviews['Executive'].str.replace(r'.txt', '')

In [20]:
interviews

         Executive
0        AbbeRaven
1       AbeAnkumah
2       AdiTatarko
3     AlanRMulally
4      AlanTrefler
..             ...
222   WayneJackson
223       WendyLea
224  WilliamDGreen
225     WillWright
226      YuchunLee

[227 rows x 1 columns]

In [21]:
interviews['Executive'] = interviews['Executive'].str.replace(' ', '').copy()

In [22]:
interviews.insert(loc=1, column='Interview', value = '1')

In [23]:
interviews.insert(loc=2, column='Outlet', value = 'AInterviews')

In [24]:
interviews

         Executive Interview       Outlet
0        AbbeRaven         1  AInterviews
1       AbeAnkumah         1  AInterviews
2       AdiTatarko         1  AInterviews
3     AlanRMulally         1  AInterviews
4      AlanTrefler         1  AInterviews
..             ...       ...          ...
222   WayneJackson         1  AInterviews
223       WendyLea         1  AInterviews
224  WilliamDGreen         1  AInterviews
225     WillWright         1  AInterviews
226      YuchunLee         1  AInterviews

[227 rows x 3 columns]

# Caption

In [25]:
onlyfiles_caption = [f for f in listdir('C:/Users/2918261/Dropbox/Corner Office Interviews//ComparisonCorpusQuestions_Text/Caption')if isfile(join('C:/Users/2918261/Dropbox/Corner Office Interviews/ComparisonCorpusQuestions_Text/Caption', f))]

In [26]:
onlyfiles_caption

['AmyErrett.txt',
 'BarbaraDeBuono.txt',
 'BarneyHarford.txt',
 'ByronLewisSr.txt',
 'CatherineWinder.txt',
 'CathyChoi.txt',
 'ChristopherCabrera.txt',
 'ClaraLippertGlenn.txt',
 'CoreyEThomas.txt',
 'DanSchneider.txt',
 'DavidOssip.txt',
 'DavidPolitis.txt',
 'DeborahBial.txt',
 'DeborahDunsire.txt',
 'DionWeisler.txt',
 'DottieMattison.txt',
 'GJHart.txt',
 'HughMartin.txt',
 'JamesPHackett.txt',
 'JarrodMoses.txt',
 'JeffFluhr.txt',
 'JeffreyKatzenberg.txt',
 'JenniferDulski.txt',
 'JoeAndrew.txt',
 'JohnNottingham.txt',
 'JohnWRowe.txt',
 'JulieGreenwald.txt',
 'JWMarriott.txt',
 'KenRees.txt',
 'KevinLiles.txt',
 'LauraChing.txt',
 'LaurelJRichie.txt',
 'LesaFranceKennedy.txt',
 'LisaSu.txt',
 'LizElting.txt',
 'LloydCBlankfein.txt',
 'LoisBraverman.txt',
 'LonneJaffe.txt',
 'MargaretKeane.txt',
 'MichaelGould.txt',
 'MichaelMathieu.txt',
 'MichelFeaster.txt',
 'MikeEttling.txt',
 'MikeMcCue.txt',
 'PedroBaranda.txt',
 'RakeshKapoor.txt',
 'RamonNunez.txt',
 'RichardDFain.txt',
 'RichelieuDennis.txt',
 'RobertAEckert.txt',
 'RobGough.txt',
 'RomilBahl.txt',
 'SallySmith.txt',
 'SharonDaniels.txt',
 'ShivanSSubramaniam.txt']

In [27]:
caption = pd.DataFrame(data = onlyfiles_caption, columns = ['Executive'])

In [28]:
caption

                 Executive
0            AmyErrett.txt
1       BarbaraDeBuono.txt
2        BarneyHarford.txt
3         ByronLewisSr.txt
4      CatherineWinder.txt
5            CathyChoi.txt
6   ChristopherCabrera.txt
7    ClaraLippertGlenn.txt
8         CoreyEThomas.txt
9         DanSchneider.txt
10          DavidOssip.txt
11        DavidPolitis.txt
12         DeborahBial.txt
13      DeborahDunsire.txt
14         DionWeisler.txt
15      DottieMattison.txt
16              GJHart.txt
17          HughMartin.txt
18       JamesPHackett.txt
19         JarrodMoses.txt
20           JeffFluhr.txt
21   JeffreyKatzenberg.txt
22      JenniferDulski.txt
23           JoeAndrew.txt
24      JohnNottingham.txt
25           JohnWRowe.txt
26      JulieGreenwald.txt
27          JWMarriott.txt
28             KenRees.txt
29          KevinLiles.txt
30          LauraChing.txt
31       LaurelJRichie.txt
32   LesaFranceKennedy.txt
33              LisaSu.txt
34           LizElting.txt
35     LloydCBlankfein.txt
36       LoisBraverman.txt
37          LonneJaffe.txt
38       MargaretKeane.txt
39        MichaelGould.txt
40      MichaelMathieu.txt
41       MichelFeaster.txt
42         MikeEttling.txt
43           MikeMcCue.txt
44        PedroBaranda.txt
45        RakeshKapoor.txt
46          RamonNunez.txt
47        RichardDFain.txt
48     RichelieuDennis.txt
49       RobertAEckert.txt
50            RobGough.txt
51           RomilBahl.txt
52          SallySmith.txt
53       SharonDaniels.txt
54  ShivanSSubramaniam.txt

In [29]:
caption['Executive'] = caption['Executive'].str.replace(r'.txt', '')

In [30]:
caption['Executive'] = caption['Executive'].str.replace(' ', '').copy()

In [31]:
caption.insert(loc=1, column='Interview', value = '1')

In [32]:
caption.insert(loc=2, column='Outlet', value = 'Caption')

In [33]:
caption

             Executive Interview   Outlet
0            AmyErrett         1  Caption
1       BarbaraDeBuono         1  Caption
2        BarneyHarford         1  Caption
3         ByronLewisSr         1  Caption
4      CatherineWinder         1  Caption
5            CathyChoi         1  Caption
6   ChristopherCabrera         1  Caption
7    ClaraLippertGlenn         1  Caption
8         CoreyEThomas         1  Caption
9         DanSchneider         1  Caption
10          DavidOssip         1  Caption
11        DavidPolitis         1  Caption
12         DeborahBial         1  Caption
13      DeborahDunsire         1  Caption
14         DionWeisler         1  Caption
15      DottieMattison         1  Caption
16              GJHart         1  Caption
17          HughMartin         1  Caption
18       JamesPHackett         1  Caption
19         JarrodMoses         1  Caption
20           JeffFluhr         1  Caption
21   JeffreyKatzenberg         1  Caption
22      JenniferDulski         1  Caption
23           JoeAndrew         1  Caption
24      JohnNottingham         1  Caption
25           JohnWRowe         1  Caption
26      JulieGreenwald         1  Caption
27          JWMarriott         1  Caption
28             KenRees         1  Caption
29          KevinLiles         1  Caption
30          LauraChing         1  Caption
31       LaurelJRichie         1  Caption
32   LesaFranceKennedy         1  Caption
33              LisaSu         1  Caption
34           LizElting         1  Caption
35     LloydCBlankfein         1  Caption
36       LoisBraverman         1  Caption
37          LonneJaffe         1  Caption
38       MargaretKeane         1  Caption
39        MichaelGould         1  Caption
40      MichaelMathieu         1  Caption
41       MichelFeaster         1  Caption
42         MikeEttling         1  Caption
43           MikeMcCue         1  Caption
44        PedroBaranda         1  Caption
45        RakeshKapoor         1  Caption
46          RamonNunez         1  Caption
47        RichardDFain         1  Caption
48     RichelieuDennis         1  Caption
49       RobertAEckert         1  Caption
50            RobGough         1  Caption
51           RomilBahl         1  Caption
52          SallySmith         1  Caption
53       SharonDaniels         1  Caption
54  ShivanSSubramaniam         1  Caption

# Other

In [34]:
onlyfiles_other = [f for f in listdir('C:/Users/2918261/Dropbox/Corner Office Interviews//ComparisonCorpusQuestions_Text/Others')if isfile(join('C:/Users/2918261/Dropbox/Corner Office Interviews/ComparisonCorpusQuestions_Text/Others', f))]

In [35]:
onlyfiles_other

['AshtonBCarter.txt', 'JohnDonovan.txt', 'TraceyMatura.txt', 'TracyDolgin.txt']

In [36]:
other = pd.DataFrame(data = onlyfiles_other, columns = ['Executive'])

In [37]:
other['Executive'] = other['Executive'].str.replace(r'.txt', '')

In [38]:
other['Executive'] = other['Executive'].str.replace(' ', '').copy()

In [39]:
other.insert(loc=1, column='Interview', value = '1')

In [40]:
other.insert(loc=2, column='Outlet', value = 'Other')

In [41]:
other

       Executive Interview Outlet
0  AshtonBCarter         1  Other
1    JohnDonovan         1  Other
2   TraceyMatura         1  Other
3    TracyDolgin         1  Other

## Podcasts

In [42]:
onlyfiles_podcast = [f for f in listdir('C:/Users/2918261/Dropbox/Corner Office Interviews//ComparisonCorpusQuestions_Text/Podcasts')if isfile(join('C:/Users/2918261/Dropbox/Corner Office Interviews/ComparisonCorpusQuestions_Text/Podcasts', f))]

In [43]:
onlyfiles_podcast

['AaronBell.txt',
 'AaronLevie.txt',
 'AileenLee.txt',
 'AndrewFilev.txt',
 'AnthonyFoxx.txt',
 'BenChestnut.txt',
 'BernardTyson.txt',
 'BobPittman.txt',
 'BradGarlinghouse.txt',
 'BrianChesky.txt',
 'CarolBartz.txt',
 'CarterMurray.txt',
 'ChamathPalihapitiya.txt',
 'CindyWhitehead.txt',
 'DanRosensweig.txt',
 'DavidCancel.txt',
 'DavidRosenblatt.txt',
 'DennisCrowley.txt',
 'DrewHouston.txt',
 'HowardSchultz.txt',
 'JanaEggers.txt',
 'JasonFried.txt',
 'JeremyAllaire.txt',
 'KatCole.txt',
 'LisaGersh.txt',
 'MarkPincus.txt',
 'MatthewPrince.txt',
 'MaxLevchin.txt',
 'MindyGrossman.txt',
 'NancyDubuc.txt',
 'PaulaLong.txt',
 'PaulVenables.txt',
 'PhilLibin.txt',
 'RobertIger.txt',
 'RobinDomeniconi.txt',
 'RyanCarson.txt',
 'ShellyeArchambeau.txt',
 'StephenISadove.txt',
 'SusanCredle.txt',
 'SusanLyne.txt',
 'TobiLutke.txt',
 'WendyKopp.txt']

In [44]:
podcast = pd.DataFrame(data = onlyfiles_podcast, columns = ['Executive'])

In [45]:
podcast

                  Executive
0             AaronBell.txt
1            AaronLevie.txt
2             AileenLee.txt
3           AndrewFilev.txt
4           AnthonyFoxx.txt
5           BenChestnut.txt
6          BernardTyson.txt
7            BobPittman.txt
8      BradGarlinghouse.txt
9           BrianChesky.txt
10           CarolBartz.txt
11         CarterMurray.txt
12  ChamathPalihapitiya.txt
13       CindyWhitehead.txt
14        DanRosensweig.txt
15          DavidCancel.txt
16      DavidRosenblatt.txt
17        DennisCrowley.txt
18          DrewHouston.txt
19        HowardSchultz.txt
20           JanaEggers.txt
21           JasonFried.txt
22        JeremyAllaire.txt
23              KatCole.txt
24            LisaGersh.txt
25           MarkPincus.txt
26        MatthewPrince.txt
27           MaxLevchin.txt
28        MindyGrossman.txt
29           NancyDubuc.txt
30            PaulaLong.txt
31         PaulVenables.txt
32            PhilLibin.txt
33           RobertIger.txt
34      RobinDomeniconi.txt
35           RyanCarson.txt
36    ShellyeArchambeau.txt
37       StephenISadove.txt
38          SusanCredle.txt
39            SusanLyne.txt
40            TobiLutke.txt
41            WendyKopp.txt

In [46]:
podcast['Executive'] = podcast['Executive'].str.replace(r'.txt', '')

In [47]:
podcast.insert(loc=1, column='Interview', value = '1')

In [48]:
podcast.insert(loc=2, column='Outlet', value = 'Podcast')

In [49]:
podcast

              Executive Interview   Outlet
0             AaronBell         1  Podcast
1            AaronLevie         1  Podcast
2             AileenLee         1  Podcast
3           AndrewFilev         1  Podcast
4           AnthonyFoxx         1  Podcast
5           BenChestnut         1  Podcast
6          BernardTyson         1  Podcast
7            BobPittman         1  Podcast
8      BradGarlinghouse         1  Podcast
9           BrianChesky         1  Podcast
10           CarolBartz         1  Podcast
11         CarterMurray         1  Podcast
12  ChamathPalihapitiya         1  Podcast
13       CindyWhitehead         1  Podcast
14        DanRosensweig         1  Podcast
15          DavidCancel         1  Podcast
16      DavidRosenblatt         1  Podcast
17        DennisCrowley         1  Podcast
18          DrewHouston         1  Podcast
19        HowardSchultz         1  Podcast
20           JanaEggers         1  Podcast
21           JasonFried         1  Podcast
22        JeremyAllaire         1  Podcast
23              KatCole         1  Podcast
24            LisaGersh         1  Podcast
25           MarkPincus         1  Podcast
26        MatthewPrince         1  Podcast
27           MaxLevchin         1  Podcast
28        MindyGrossman         1  Podcast
29           NancyDubuc         1  Podcast
30            PaulaLong         1  Podcast
31         PaulVenables         1  Podcast
32            PhilLibin         1  Podcast
33           RobertIger         1  Podcast
34      RobinDomeniconi         1  Podcast
35           RyanCarson         1  Podcast
36    ShellyeArchambeau         1  Podcast
37       StephenISadove         1  Podcast
38          SusanCredle         1  Podcast
39            SusanLyne         1  Podcast
40            TobiLutke         1  Podcast
41            WendyKopp         1  Podcast

In [50]:
interviews = pd.concat([NYT, interviews, podcast, caption, other])

In [51]:
interviews

             Executive Interview   Outlet
0            AaronBell         1      NYT
1           AaronLevie         1      NYT
2            AbbeRaven         1      NYT
3           AbeAnkumah         1      NYT
4             AdamNash         1      NYT
..                 ...       ...      ...
54  ShivanSSubramaniam         1  Caption
0        AshtonBCarter         1    Other
1          JohnDonovan         1    Other
2         TraceyMatura         1    Other
3          TracyDolgin         1    Other

[850 rows x 3 columns]

In [52]:
interviews.to_excel('interviews.xlsx', index = False)

## only interviews

In [90]:
interviews = pd.read_excel('interviews.xlsx')

In [ ]:
# interviews = interviews.rename(columns = {'Name': 'Executive', 'Source':'Outlet'}).copy()

In [91]:
interviews = interviews.sort_values('Executive').copy()

In [92]:
interviews = interviews.reset_index(drop = True).copy()

In [93]:
interviews['Outlet'] = interviews['Outlet'].str.replace(' ', '').copy()

In [94]:
interviews['Executive'] = interviews['Executive'].str.replace(' ', '').copy()

## all frames

In [95]:
frames = pd.read_excel('C:/Users/2918261/Dropbox/Corner Office Interviews/AllFrames.xlsx')

In [96]:
frames = frames.drop(columns = ['Interview']).copy()

In [97]:
frames = frames.sort_values('Name ').copy()

In [98]:
frames['Name '] = frames['Name '].str.replace(' ', '').copy()

In [99]:
list(frames.columns)

['Name ',
 'Gender',
 'NYTage',
 'AllPunc',
 'Analytic',
 'Apostro',
 'Authentic',
 'Clout',
 'Colon',
 'Comma',
 '2019_Age',
 'Dash',
 'Dic',
 'Exclam',
 'Female',
 'Femininity',
 'MBA',
 'Masculinity',
 'NativeSpeaker',
 'OtherP',
 'Parenth',
 'Period',
 'QMark',
 'Quote',
 'Sector_Grouped',
 'Sector_Grouped_Dic',
 'SemiC',
 'Sixltr',
 'Source',
 'Tone',
 'Traded',
 'WC',
 'WPS',
 'Year_y',
 'achieve',
 'adj',
 'adverb',
 'affect',
 'affiliation',
 'anger',
 'anx',
 'article',
 'assent',
 'auxverb',
 'bio',
 'body',
 'cause',
 'certain',
 'cogproc',
 'compare',
 'conj',
 'death',
 'differ',
 'discrep',
 'drives',
 'family',
 'feel',
 'female',
 'filler',
 'focusfuture',
 'focuspast',
 'focuspresent',
 'friend',
 'function',
 'health',
 'hear',
 'home',
 'i',
 'informal',
 'ingest',
 'insight',
 'interrog',
 'ipron',
 'leisure',
 'male',
 'money',
 'motion',
 'negate',
 'negemo',
 'netspeak',
 'nonflu',
 'number',
 'percept',
 'posemo',
 'power',
 'ppron',
 'prep',
 'pronoun',
 'quant',
 'relativ',
 'relig',
 'reward',
 'risk',
 'sad',
 'see',
 'sexual',
 'shehe',
 'social',
 'space',
 'swear',
 'tentat',
 'they',
 'time',
 'verb',
 'we',
 'work',
 'you',
 'Source_Dic']

In [ ]:
# interviews['Outlet']=interviews['Outlet'].replace({'podcast':'Podcasts', 'interview': 'AInterviews', 'caption': 'Caption', 'other':'Other' }).copy()

In [ ]:
# interviews.to_excel('interviews.xlsx', index = False)

In [ ]:
# interviews.Outlet

In [ ]:
# frames['Source_Dic']

In [100]:
table = frames.merge(interviews, how = 'left', left_on = ['Name ', 'Source_Dic'], right_on = ['Executive', 'Outlet'])

In [101]:
table[['Name ', 'Executive', 'Source', 'Source_Dic', 'Interview', 'Outlet']]

,Name,Executive,Source,Source_Dic,Interview,Outlet
0,AaronBell,AaronBell,1,NYT,1.0,NYT
1,AaronBell,NaN,3,Podcasts,NaN,NaN
2,AaronLevie,AaronLevie,1,NYT,1.0,NYT
3,AaronLevie,NaN,3,Podcasts,NaN,NaN
4,AbbeRaven,AbbeRaven,2,AInterviews,1.0,AInterviews
...,...,...,...,...,...,...
1077,WilliamDGreen,WilliamDGreen,1,NYT,1.0,NYT
1078,YorgenEdholm,YorgenEdholm,1,NYT,1.0,NYT
1079,YorgenEdholm,NaN,5,Other,NaN,NaN
1080,YuchunLee,YuchunLee,2,AInterviews,1.0,AInterviews
1081,YuchunLee,YuchunLee,1,NYT,1.0,NYT

In [175]:
table.loc[table['Source_Dic']=='NYT', 'Interview'] = 1

In [103]:
table.loc[table['Source_Dic']=='AInterviews', 'Interview'] = 1

In [104]:
table.loc[table['Source_Dic']=='Podcasts', 'Interview'] = 1

In [105]:
table.loc[table['Source_Dic']=='Essay', 'Interview'] = 0

In [184]:
table.groupby(['Source_Dic', 'Interview'])['Name '].count()

Source_Dic   Interview
AInterviews  0.0           12
             1.0          227
Caption      0.0          121
             1.0           55
Essay        0.0           58
NYT          1.0          522
Other        0.0           39
             1.0            4
Podcasts     1.0           43
Name: Name , dtype: int64

In [107]:
# table.loc[table['Source_Dic'] == "Podcasts"]

In [108]:
table['Interview'] = table['Interview'].fillna(0)

In [180]:
table['Interview'].sum()

851.0

In [167]:
table.loc[table['Source_Dic'] == "AInterviews"][219:240]

,Name,Gender,NYTage,AllPunc,Analytic,Apostro,Authentic,Clout,Colon,Comma,...,they,time,verb,we,work,you,Source_Dic,Executive,Interview,Outlet
1021,TiffanyCooperGueye,F,33.31,21.14,81.04,2.01,40.77,87.30,0.13,6.78,...,2.42,4.63,11.88,2.68,15.91,0.07,AInterviews,TiffanyCooperGueye,1.0,AInterviews
1022,TigerTyagarajan,M,53.15,19.40,47.94,2.97,63.67,83.39,0.16,3.70,...,1.46,4.80,18.14,2.82,5.37,1.46,AInterviews,TigerTyagarajan,1.0,AInterviews
1024,TimBrown,M,47.43,10.83,69.90,0.71,62.73,65.94,0.06,3.91,...,2.63,3.91,15.06,1.92,6.67,0.38,AInterviews,TimBrown,1.0,AInterviews
1032,TomErickson,M,54.86,17.74,68.76,3.55,51.95,74.69,0.00,4.73,...,1.55,4.19,17.65,2.91,4.37,0.64,AInterviews,TomErickson,1.0,AInterviews
1034,TomLeighton,M,58.01,14.24,75.54,0.25,40.05,84.39,0.00,6.72,...,1.29,4.71,14.99,3.67,6.90,1.04,AInterviews,TomLeighton,1.0,AInterviews
1036,TonyHsieh,F,26.64,19.03,71.65,3.27,83.77,63.28,0.00,4.24,...,0.61,4.73,16.61,2.55,5.94,0.85,AInterviews,NaN,1.0,NaN
1045,TracyStreckenbach,F,50.29,17.96,82.93,1.38,76.90,64.04,0.00,4.97,...,0.00,4.42,12.15,1.66,8.01,0.00,AInterviews,TracyStreckenbach,1.0,AInterviews
1046,TriciaClarkeStone,F,38.85,21.47,81.76,2.35,29.12,76.29,0.19,5.46,...,0.47,3.86,12.71,1.88,5.56,1.79,AInterviews,TriciaClarkeStone,1.0,AInterviews
1048,ValDiFebo,F,51.42,21.41,66.97,1.41,31.56,71.39,0.00,7.53,...,0.24,4.00,16.71,1.88,5.88,0.94,AInterviews,ValDiFebo,1.0,AInterviews
1050,ValerieSmith,F,60.75,11.78,51.43,1.89,79.76,48.70,0.05,4.27,...,1.24,3.03,16.22,1.46,5.19,0.32,AInterviews,ValerieSmith,1.0,AInterviews
1052,VictorAllis,M,49.05,19.45,27.09,1.56,48.19,85.38,0.13,2.69,...,1.24,5.28,18.82,3.09,2.73,2.99,AInterviews,VictorAllis,1.0,AInterviews
1056,VictoriaRansom,F,37.69,10.40,64.90,2.19,46.25,82.87,0.18,2.74,...,0.91,4.74,16.97,2.01,7.48,2.01,AInterviews,VictoriaRansom,1.0,AInterviews
1058,VineetNayar,M,47.74,17.25,74.80,0.00,34.20,84.70,0.24,5.39,...,1.65,3.48,14.53,3.72,8.95,0.73,AInterviews,VineetNayar,1.0,AInterviews
1061,VivekGupta,M,51.80,18.28,63.17,2.49,75.85,86.61,0.28,5.54,...,0.55,7.48,19.11,0.28,4.43,6.37,AInterviews,VivekGupta,1.0,AInterviews
1064,WainKellum,M,52.26,11.25,66.02,0.20,32.05,96.22,0.00,2.76,...,1.23,5.32,14.21,6.85,7.67,0.92,AInterviews,WainKellum,1.0,AInterviews
1068,WayneJackson,M,52.97,19.67,39.39,3.41,46.83,64.58,0.00,5.97,...,1.64,3.34,18.82,1.70,3.41,2.03,AInterviews,WayneJackson,1.0,AInterviews
1072,WendyLea,F,58.95,18.49,57.54,3.14,67.86,68.27,0.11,6.92,...,0.97,4.32,15.57,2.92,4.32,0.97,AInterviews,WendyLea,1.0,AInterviews
1074,WillWright,M,49.07,15.19,66.68,0.10,44.62,86.50,0.26,4.99,...,0.94,4.16,14.62,3.95,8.22,1.40,AInterviews,WillWright,1.0,AInterviews
1076,WilliamDGreen,M,56.51,10.83,73.99,0.00,38.02,73.37,0.00,5.79,...,2.41,4.21,13.31,1.80,2.48,1.73,AInterviews,WilliamDGreen,1.0,AInterviews
1080,YuchunLee,M,51.58,17.54,82.00,1.21,48.55,74.15,0.13,6.61,...,0.81,4.99,11.61,2.56,9.45,0.27,AInterviews,YuchunLee,1.0,AInterviews

In [179]:
table.loc[table['Source_Dic'] == "Podcasts"]

,Name,Gender,NYTage,AllPunc,Analytic,Apostro,Authentic,Clout,Colon,Comma,...,they,time,verb,we,work,you,Source_Dic,Executive,Interview,Outlet
1,AaronBell,M,38.83,19.81,43.14,3.62,49.90,84.70,0.00,9.54,...,0.79,3.20,17.81,2.87,5.77,3.14,Podcasts,NaN,1.0,NaN
3,AaronLevie,M,24.18,28.88,32.60,4.60,42.50,76.81,0.01,5.76,...,0.80,3.59,19.40,2.92,5.02,2.56,Podcasts,NaN,1.0,NaN
14,AileenLee,F,45.54,28.32,25.92,3.91,51.21,70.53,0.05,6.76,...,0.95,4.19,20.81,2.05,5.10,2.46,Podcasts,NaN,1.0,NaN
46,AndrewFilev,M,35.70,17.01,81.85,2.48,24.33,90.32,0.00,6.34,...,1.47,4.37,11.95,0.74,12.14,3.36,Podcasts,NaN,1.0,NaN
70,AnthonyFoxx,M,44.81,20.06,48.90,4.65,61.01,76.46,0.05,4.82,...,0.60,4.04,20.54,3.78,3.68,1.29,Podcasts,NaN,1.0,NaN
98,BenChestnut,M,42.29,25.38,24.85,2.94,31.48,85.10,0.19,6.49,...,1.45,4.34,19.97,4.53,4.29,1.26,Podcasts,NaN,1.0,NaN
104,BernardTyson,M,54.48,21.23,58.88,2.97,56.08,70.04,0.68,4.57,...,0.00,3.20,21.92,2.05,2.05,2.28,Podcasts,NaN,1.0,NaN
128,BobPittman,M,59.49,28.47,19.05,5.30,67.04,71.71,0.00,6.97,...,1.38,3.82,22.23,2.88,3.85,2.77,Podcasts,NaN,1.0,NaN
134,BradGarlinghouse,M,42.01,30.85,40.97,4.43,59.80,60.99,0.01,7.63,...,1.06,3.42,19.64,1.24,4.11,2.43,Podcasts,NaN,1.0,NaN
148,BrianChesky,M,32.39,15.44,54.51,0.00,24.44,95.23,0.20,4.76,...,1.33,4.72,14.66,4.33,3.74,3.47,Podcasts,NaN,1.0,NaN
172,CarolBartz,F,60.41,26.69,18.00,4.66,49.70,68.41,0.07,8.37,...,1.87,4.54,22.75,1.08,3.46,2.40,Podcasts,NaN,1.0,NaN
177,CarterMurray,M,40.98,21.24,36.92,3.94,70.99,72.70,0.04,5.16,...,0.80,4.55,20.68,2.20,4.42,2.01,Podcasts,NaN,1.0,NaN
193,ChamathPalihapitiya,M,40.42,26.35,22.93,3.93,41.26,77.73,0.03,8.68,...,1.48,3.70,19.18,2.04,3.65,2.87,Podcasts,NaN,1.0,NaN
226,CindyWhitehead,F,43.37,25.80,35.07,3.31,64.37,70.55,0.02,6.24,...,2.12,3.39,20.52,1.49,3.29,2.14,Podcasts,NaN,1.0,NaN
236,DanRosensweig,M,48.14,20.34,46.30,3.17,16.10,97.66,0.40,6.34,...,0.92,4.36,20.34,7.40,7.93,2.77,Podcasts,NaN,1.0,NaN
266,DavidCancel,M,44.85,22.23,23.83,4.96,54.84,72.39,0.00,3.55,...,0.91,4.84,19.60,2.97,3.85,1.94,Podcasts,NaN,1.0,NaN
281,DavidRosenblatt,M,45.76,28.76,58.31,2.88,57.80,64.84,0.03,8.60,...,1.17,3.99,16.53,2.91,5.26,0.63,Podcasts,NaN,1.0,NaN
306,DennisCrowley,M,36.19,25.58,30.85,4.61,51.65,88.24,0.02,6.65,...,0.53,4.63,20.93,4.15,2.59,2.54,Podcasts,NaN,1.0,NaN
335,DrewHouston,M,33.04,21.27,26.13,4.87,57.51,56.71,0.08,7.65,...,0.52,4.67,19.03,1.08,3.84,2.92,Podcasts,NaN,1.0,NaN
401,HowardSchultz,M,57.39,19.70,50.07,2.77,37.51,87.26,0.09,7.49,...,0.82,3.59,19.05,4.55,4.24,1.08,Podcasts,NaN,1.0,NaN
429,JanaEggers,F,40.76,28.19,17.75,4.65,38.00,76.67,0.12,10.88,...,1.66,3.26,20.45,1.66,2.89,2.75,Podcasts,NaN,1.0,NaN
438,JasonFried,M,43.29,21.20,14.73,5.31,67.19,46.17,0.03,5.42,...,0.91,4.78,21.25,1.18,2.91,2.44,Podcasts,NaN,1.0,NaN
470,JeremyAllaire,M,39.68,24.31,38.23,3.71,24.82,72.61,0.02,9.22,...,0.53,2.93,17.08,1.63,3.03,2.32,Podcasts,NaN,1.0,NaN
558,KatCole,F,36.16,15.49,24.18,3.64,85.04,38.71,0.00,5.27,...,0.85,5.45,19.73,0.67,5.30,1.59,Podcasts,NaN,1.0,NaN
659,LisaGersh,F,57.10,22.04,23.75,3.98,73.36,64.95,0.00,7.60,...,1.11,4.74,22.14,1.44,4.92,3.01,Podcasts,NaN,1.0,NaN
726,MarkPincus,M,43.70,21.11,38.04,2.95,36.98,80.57,0.21,4.35,...,1.19,3.37,18.02,2.95,2.88,2.59,Podcasts,NaN,1.0,NaN
736,MatthewPrince,M,38.23,22.56,29.66,3.74,38.67,82.95,0.00,7.82,...,1.93,3.35,19.47,4.64,4.23,1.35,Podcasts,NaN,1.0,NaN
738,MaxLevchin,M,41.56,25.53,48.10,3.35,61.60,58.92,0.03,6.57,...,0.71,4.74,19.48,1.60,3.70,1.94,Podcasts,NaN,1.0,NaN
775,MindyGrossman,F,52.49,23.18,21.32,3.90,71.66,55.77,0.00,7.53,...,0.76,4.41,22.01,1.28,3.80,2.56,Podcasts,NaN,1.0,NaN
781,NancyDubuc,F,45.83,22.48,29.95,4.36,76.61,53.38,0.00,6.74,...,0.52,4.25,20.64,1.41,3.34,2.29,Podcasts,NaN,1.0,NaN
817,PaulVenables,M,48.11,25.00,21.22,4.53,55.06,82.62,0.18,6.35,...,1.82,3.92,22.84,3.37,3.93,3.14,Podcasts,NaN,1.0,NaN
821,PaulaLong,F,52.26,22.17,22.24,4.51,56.23,68.21,0.03,7.69,...,1.67,3.77,20.45,2.08,4.68,2.36,Podcasts,NaN,1.0,NaN
841,PhilLibin,M,39.88,34.10,24.29,4.28,64.70,52.56,0.03,5.21,...,0.74,4.84,19.42,1.40,2.44,1.71,Podcasts,NaN,1.0,NaN
871,RobertIger,M,57.95,24.43,34.75,4.23,58.55,74.79,0.00,7.96,...,1.03,4.63,19.55,3.51,3.78,2.27,Podcasts,NaN,1.0,NaN
883,RobinDomeniconi,F,48.66,28.67,19.31,4.28,82.23,41.54,0.00,9.65,...,1.41,4.94,22.38,1.06,3.24,2.04,Podcasts,NaN,1.0,NaN
903,RyanCarson,M,36.04,28.78,10.65,6.20,46.16,87.13,0.07,8.90,...,0.84,4.99,22.31,2.63,3.10,3.98,Podcasts,NaN,1.0,NaN
951,SheilaTalton,F,60.78,19.29,66.61,3.13,20.99,75.12,0.10,6.99,...,3.55,3.86,17.83,2.09,2.82,1.36,Podcasts,NaN,1.0,NaN
953,ShellyeArchambeau,F,48.94,26.80,23.27,4.01,75.74,49.28,0.15,8.64,...,0.72,4.40,22.73,0.87,4.97,2.21,Podcasts,NaN,1.0,NaN
969,StephenISadove,M,59.03,28.23,52.09,4.47,64.09,56.29,0.19,5.91,...,0.98,5.72,19.58,0.56,5.35,2.28,Podcasts,NaN,1.0,NaN
993,SusanCredle,F,49.77,23.61,27.40,4.86,69.24,76.39,0.00,5.18,...,0.84,4.62,22.21,2.51,3.57,2.83,Podcasts,NaN,1.0,NaN
998,SusanLyne,F,58.37,20.31,38.00,2.82,71.37,62.38,0.03,7.72,...,1.33,5.77,20.31,1.05,3.33,2.05,Podcasts,NaN,1.0,NaN
1028,TobiLutke,M,35.93,20.30,32.18,3.31,60.03,58.99,0.09,5.40,...,0.71,4.08,18.35,1.10,4.15,2.15,Podcasts,NaN,1.0,NaN
1071,WendyKopp,F,42.12,16.86,66.05,3.20,64.49,80.93,0.00,3.89,...,1.42,4.74,17.84,3.53,7.01,0.93,Podcasts,NaN,1.0,NaN

In [57]:
table.loc[[130]] # keep

,Name,Gender,NYTage,AllPunc,Analytic,Apostro,Authentic,Clout,Colon,Comma,...,they,time,verb,we,work,you,Source_Dic,Executive,Interview,Outlet
130,BobbiBrown,F,52.68,23.6,21.66,4.99,80.91,41.62,0.23,6.28,...,0.98,4.39,20.8,0.68,5.6,2.27,AInterviews,BobbiBrown,1.0,AInterviews

In [111]:
table = table.drop([129]).copy() # drop

In [ ]:
# AlexandraWilkis
# AlexavonTobel
# BingGordon 
# CarlGalioto 
# DonKnauss 
# JacquelineKosecoff
# JennaFagnan 
# KevinOConnor 
# KevinSharer 
# LeilaJanah 
# SukhinderSinghCassidy 
# TeresaATaylor 
# TonyHsieh 
# Wendy Kopp -> podcast

In [132]:
len(interviews)

850

In [182]:
table.to_excel('redothistable.xlsx', index = False)

In [ ]:
table.loc[table['Source_Dic'] == "Caption"][150:170]

In [113]:
table.loc[table['Name ']=='AlexandraWilkis', 'Interview'] = 0

In [114]:
table.loc[table['Name ']=='AlexavonTobel', 'Interview'] = 0

In [115]:
table.loc[table['Name ']=='BingGordon', 'Interview'] = 0

In [116]:
table.loc[table['Name ']=='CarlGalioto', 'Interview'] = 0

In [117]:
table.loc[table['Name ']=='JacquelineKosecoff', 'Interview'] = 0

In [146]:
table.loc[table['Name ']=='JennaFagnan', 'Interview'] = 0

In [118]:
table.loc[table['Name ']=='KevinOConnor', 'Interview'] = 0

In [119]:
table.loc[table['Name ']=='KevinSharer', 'Interview'] = 0

In [120]:
table.loc[table['Name ']=='LeilaJanah', 'Interview'] = 0

In [121]:
table.loc[table['Name ']=='SukhinderSinghCassidy', 'Interview'] = 0

In [165]:
table.loc[table['Name ']=='TeresaATaylor', 'Interview'] = 0

In [173]:
table.loc[table['Name ']=='TonyHsieh', 'Interview'] = 0

In [122]:
table.loc[table['Name ']=='DionWeisler ', 'Interview'] = 1

In [123]:
table.loc[table['Name ']=='JeffFluhr ', 'Interview'] = 1

In [124]:
table.loc[table['Name ']=='LesaFranceKennedy ', 'Interview'] = 1

In [125]:
table.loc[table['Name ']=='MargaretKeane ', 'Interview'] = 1

In [126]:
table.loc[table['Name ']=='PedroBaranda ', 'Interview'] = 1

In [ ]:
table.loc[table['Source_Dic'] == 'Other']

In [ ]:
table.loc[table['Name ']=='MelanieWhelan'] #, 'Interview'] = 1

In [ ]:
table.loc[table['Name ']=='NikiLeondakis']

In [ ]:
table.loc[table['Name ']=='SusanStory']

In [ ]:
table.loc[table['Name ']=='TriciaClarkeStone']

In [ ]:
table.loc[table['Name ']=='MargaretKeane ', 'Interview'] = 1

In [ ]:
table.loc[table['Source_Dic'] == 'Podcasts']

## This works for combining all the files to make corpus

In [ ]:
import glob
import io
file_list = glob.glob(os.path.join(os.getcwd(), 'C:/Users/2918261/Dropbox/Corner Office Interviews/ComparisonCorpusText/All_Combined', '*.txt')) 

corpus = []

for file_path in file_list:
    with open(file_path) as f_input:
        corpus.append(f_input.read())
        
# print(corpus)

In [ ]:
len(corpus)

## Saving python list to json

In [ ]:
import json

In [ ]:
json_object = json.dumps(corpus)

In [ ]:
len(json_object)

In [ ]:
with open('SO_jsonout.json', 'w') as outfile:
    json.dump(corpus, outfile)

In [ ]:
interview = pd.read_json('C:/Users/2918261/Dropbox/Corner Office Interviews/SO_jsonout.json')

In [ ]:
interview

## Making list of filenames

In [ ]:
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir('C:/Users/2918261/Dropbox/Corner Office Interviews/ComparisonCorpusText/All_Combined') if isfile(join('C:/Users/2918261/Dropbox/Corner Office Interviews/ComparisonCorpusText/All_Combined', f))]

## Saving filenames to JSON

In [ ]:
json_object = json.dumps(onlyfiles)

In [ ]:
with open('filenames.json', 'w') as outfile:
    json.dump(onlyfiles, outfile)

## Concatenating filenames to interviews

In [ ]:
filenames = pd.read_json('C:/Users/2918261/Dropbox/Corner Office Interviews/filenames.json')

In [ ]:
interviews = pd.concat([filenames, interview], axis = 1, join = 'inner')

## Give column names after concatenating

In [ ]:
interviews.columns=['filename', 'text']

## Alphabetically sort the filenames

In [ ]:
interviews = interviews.sort_values('filename').copy()

In [ ]:
interviews.to_json('interviews.json')

## Reindex the rows for further concatenation

In [ ]:
interviews = pd.read_json('C:/Users/2918261/Dropbox/Corner Office Interviews/interviews.json')

In [ ]:
interviews.reset_index(inplace = True, drop = True)

## Time to concatenate with meta data...

In [ ]:
meta = pd.read_excel('C:/Users/2918261/Dropbox/Corner Office Interviews/ComparisonCorpusText/LIWC_Combined_Full.xlsx')

In [ ]:
list(meta)

## Sort names alphabetically

In [ ]:
meta = meta.sort_values('Name ').copy()

## Only select relevant columns

In [ ]:
meta = meta[['Name ', 'Gender', 'Organization', 'Current Age', 'NativeSpeaker', 'Traded', 'MBA', 
      'Sector_Grouped', 'Female','Sector_Grouped_Dic', 'Femininity', 'Masculinity']]

## Concatenate and save to JSON

In [ ]:
interviews_full = pd.concat([interviews, meta], axis = 1, join = 'inner')

In [ ]:
interviews_full.to_json('C:/Users/2918261/Dropbox/Corner Office Interviews/interviews_full.json')